<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <title>Magzika</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="includes/font-awesome4.2.min.css">
    <link rel="stylesheet" href="includes/bootstrap3.3.7.min.css">
    <link rel="stylesheet" href="includes/sidebar.css">
    <link rel="stylesheet" href="includes/styles.css">
    <script src="includes/jquery.min.js"></script>
    <script src="includes/bootstrap.min.js"></script>
	<script src="includes/loader.js"></script>
  	<script> var googleLoaded = false; </script>

    <!-- Polyfill(s) for older browsers -->
    <script src="node_modules/core-js/client/shim.min.js"></script>

    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>

    <script src="systemjs.config.js"></script>
    <script>
      System.import('app').catch(function(err){ console.error(err); });
    </script>
  </head>

  <body>
    <my-app>
        <div class="jumbotron" style="margin: 30px 100px; text-align: center; border-radius: 30px;">
            <h2>MAGZIKA</h2>
            <p class="lead">Kitchen Manager Initializing ...</p>
        </div>
    </my-app>
  </body>
</html>
