<sidebar [page]="'menu'"></sidebar>

<section class="main-content">
    <div class="order-box row col-sm-12">
        <form class="create-order-box row">
            <table id="table-menu" class="table form-inline table-sm">
                <thead>
                    <tr>
                      <th></th>
                      <th>#</th>
                      <th>Item</th>
                      <th>Price (<span class="fa fa-inr"></span>)</th>
                      <th>Preparation (Min)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let menuItem of menuItems; let i = index;">
                      <td>
                          <button (click)="editMenuItem(menuItem._id)" type="button" class="btn btn-xs btn-primary"><i class="fa fa-pencil-square-o"></i></button>
                          <button (click)="deleteItem(menuItem._id)" type="button" class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></button>
                      </td>
                      <td>{{i+1}}</td>
                      <td>{{menuItem.name}}</td>
                      <td><i class="fa fa-inr"></i> {{menuItem.price}}</td>
                      <td>{{menuItem.prepareTime}}</td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</section>