<sidebar [page]="'orders'"></sidebar>

<section class="main-content" (click)="removeBoxFocus()" (keyup.enter)="addRow()">
    <div class="order-box row col-sm-10">
        <div id="msg" class="col-sm-12 msg" *ngIf="msg">{{msg}}</div>
        <form class="create-order-box row" (change)="formDirty()">
            <div class="form-group row col-sm-10">
              <label for="table_name" class="col-sm-1 col-form-label">Table:</label>
              <div class="col-sm-3">
                  <select class="form-control" id="table_name" name="table" [(ngModel)]="order.table">
                      <option></option>
                      <option *ngFor="let table of tables">{{table}}</option>
                  </select>
              </div>
              <label for="table_title" class="col-sm-1 col-form-label">Title:</label>
              <div class="col-sm-7">
                <input #tableTitle type="text" class="form-control" id="table_title" name="table_Title" [(ngModel)]="order.tableTitle" placeholder="Title for this Table" (keyup)="searchTitles(tableTitle)">
                <div class="searchMenuBox" [class.boxShow]="titleBoxFocus">
                  <div class="searchedMenuItems" *ngFor="let item of orderTitles; let i = index;" (click)="selectTitle(i)">
                      <div class="left">{{item}}</div>
                  </div>
                </div>
              </div>
            </div>
            <table id="table-items" class="table form-inline table-sm">
                <thead>
                    <tr>
                      <th>Item</th>
                      <th>Quantity</th>
                      <th>Unit Price</th>
                      <th>Total</th>
                      <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of order?.orderItems; let i = index;">
                      <td>
                          <input #itemName type="text" class="form-control item_name" autocomplete="off" id="itemName{{i+1}}" name="itemName{{i+1}}" placeholder="Item from Menu" (keyup)="searchMenuItem(i, itemName)" value={{item.itemName}}>
                          <br/>
                          <div class="searchMenuBox" [class.boxShow]="item.boxFocus">
                            <div class="searchedMenuItems" *ngFor="let menu of menuItems; let j = index;" (click)="selectMenu(i,j, itemQty)">
                                <div class="left">{{menu.name}}</div> <div class="right" *ngIf="menu.prepareTime"> ~ {{menu.prepareTime}} min</div>
                            </div>
                          </div>
                      </td>
                      <td>
                          <button class="fa fa-minus-circle fa-lg" (click)="decQty(i)"></button>&nbsp;&nbsp;
                          <input #itemQty type="number" class="form-control item_qty" min="1" id="item_qty" name="qty{{i+1}}" (change)="calcTotals()" value={{item.qty}}>&nbsp;&nbsp;
                          <button class="fa fa-plus-circle fa-lg" (click)="incQty(i)"></button>
                      </td>
                      <td>{{item.unitPrice}}</td>
                      <td>{{item.total}}</td>
                      <td><button class="btn btn-danger fa fa-trash-o" (click)="deleteItem(i)"></button></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td>Grand Total: </td>
                        <td colspan="2"><span class="fa fa-inr"></span> {{order.grandTotal}}</td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
            <div class="form-group col-sm-12">
                <div class="left">
                    <button type="button" class="btn btn-primary" (click)="addRow()"><i class="fa fa-plus"></i></button>
                </div>
                <div class="right">
                    <button type="reset" class="btn btn-warning" (click)='resetForm()'>Reset</button>
                    <button type="button" class="btn btn-primary" id="addOrder" (click)="addOrder()" disabled>Prepare Order</button>
                </div>
            </div>
        </form>
    </div>
</section>